


<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-10 col-lg-7 col-md-6 ml-auto">
        <div class="row pt-md-5 mt-md-3 mb-5">

          <div class="col-xl-12">
            <h4 class="text-muted mb-4">Employees Edit</h4>



              <div class="row">
                <div class="col-sm-4">

                </div>
                <div class="col-sm-8">
                  <div *ngIf="editForm.dirty" class="alert alert-info">
                    <strong>Information:</strong> You have made changes.  Any unsaved changes will be lost!
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="card">
                    <img class="card-img-top img-thumbnail" src="{{'../../../assets/images/user.png'}}" alt="">
                    <div class="middle">
                      <div class="text">Change Pic</div>
                    </div>
                    <div class="card-body">
                      <div>
                        <strong>Name:</strong>
                        <p>{{employee.lastname}}</p>
                      </div>
                      <div>
                        <strong>Position</strong>
                        <p>{{employee.position}}</p>
                      </div>
                      <div>
                        <strong>email Address</strong>
                        <p>{{employee.emailadd}}</p>

                      </div>
                      <div>
                        <strong>Contact</strong>
                        <p>{{employee.mobile}}</p>
                      </div>
                    </div>
                    <div class="card-footer">
                        <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-block">Save Changes</button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-8">
                  <div class="tab-panel">
                    <tabset class="member-tabset">
                      <tab heading="Edit Profile">
                        <form #editForm="ngForm" id="editForm" (ngSubmit)="updateEmployee()">
                          <h4>Skills</h4>
                          <textarea name="introduction" rows="6" class="form-control"
                          [(ngModel)]="employee.skills"></textarea>

                          <h4>Address</h4>
                            <input type="text"  name="address" class="form-control" [(ngModel)]="employee.address">




                          <h4>Describtions</h4>
                          <textarea name="description" rows="6" class="form-control"
                            [(ngModel)]="employee.description"></textarea>


                          <h4>Salary Details:</h4>
                          <div class="form-inline">
                            <label for="salarytype" class="mb-2 mr-sm-2">Salary Type</label>
                            <select class="form-control mb-2 mr-sm-2" id="salarytype" name="salarytype" [(ngModel)]="employee.salarytype">
                              <option>PerHour</option>
                              <option>Package</option>
                            </select>

                            <label for="Amount" class="mb-2 mr-sm-2">Amount</label>
                             <input type="text" class="form-control mb-2 mr-sm-2" id="Amount" name="Amount" [(ngModel)]="employee.salary">


                             <label for="paymentmode" class="mb-2 mr-sm-2">Payment Mode</label>
                             <select class="form-control mb-2 mr-sm-2" id="paymentmode" name="paymentmode" [(ngModel)]="employee.payment_mode">
                              <option>ABN</option>
                              <option>TFN</option>
                            </select>

                          </div>

                          <h4>Bank Details:</h4>
                          <textarea name="bankdetails" rows="6" class="form-control"
                          [(ngModel)]="employee.bankdetails"></textarea>

                        </form>

                      </tab>
                      <tab heading="Edit Documents">
                        <app-photo-editor [editID]="employee.id"
                        ></app-photo-editor>
                      </tab>
                    </tabset>
                  </div>
                </div>
              </div>
            </div>










        </div>
      </div>
    </div>

  </div>
</section>







