<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
        <div class="row align-items-center mb-5">
          <div class="col-xl-7">
            <h4 class="text-muted mb-4">Recent Customer Activities</h4>
            <div id="accordion">
              <div class="card">
                <div class="card-header">
                  <button class="btn btn-block bg-secondary text-light text-left" data-toggle="collapse" data-target="#collapseOne">
                    <img src="assets/images/cust1.jpeg" width="50" class="mr-3 rounded">
                    John posted a new comment
                  </button>
                </div>
                <div class="collapse show" id="collapseOne" data-parent="#accordion">
                  <div class="card-body">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis earum modi delectus fugiat consectetur eaque harum obcaecati, saepe id vitae, dolore aliquam! Quos, doloribus quisquam.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <button class="btn btn-block bg-secondary text-light text-left" data-toggle="collapse" data-target="#collapseTwo">
                    <img src="assets/images/cust2.jpeg" width="50" class="mr-3 rounded">
                    Mark posted a new comment
                  </button>
                </div>
                <div class="collapse" id="collapseTwo" data-parent="#accordion">
                  <div class="card-body">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis earum modi delectus fugiat consectetur eaque harum obcaecati, saepe id vitae, dolore aliquam! Quos, doloribus quisquam.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <button class="btn btn-block bg-secondary text-light text-left" data-toggle="collapse" data-target="#collapseThree">
                    <img src="assets/images/cust3.jpeg" width="50" class="mr-3 rounded">
                    Monica posted a new comment
                  </button>
                </div>
                <div class="collapse" id="collapseThree" data-parent="#accordion">
                  <div class="card-body">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis earum modi delectus fugiat consectetur eaque harum obcaecati, saepe id vitae, dolore aliquam! Quos, doloribus quisquam.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <button class="btn btn-block bg-secondary text-light text-left" data-toggle="collapse" data-target="#collapseFour">
                    <img src="assets/images/cust4.jpeg" width="50" class="mr-3 rounded">
                    Vivien posted a new comment
                  </button>
                </div>
                <div class="collapse" id="collapseFour" data-parent="#accordion">
                  <div class="card-body">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis earum modi delectus fugiat consectetur eaque harum obcaecati, saepe id vitae, dolore aliquam! Quos, doloribus quisquam.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <button class="btn btn-block bg-secondary text-light text-left" data-toggle="collapse" data-target="#collapseFive">
                    <img src="assets/images/cust5.jpeg" width="50" class="mr-3 rounded">
                    Nick posted a new comment
                  </button>
                </div>
                <div class="collapse" id="collapseFive" data-parent="#accordion">
                  <div class="card-body">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis earum modi delectus fugiat consectetur eaque harum obcaecati, saepe id vitae, dolore aliquam! Quos, doloribus quisquam.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <button class="btn btn-block bg-secondary text-light text-left" data-toggle="collapse" data-target="#collapseSix">
                    <img src="assets/images/cust6.jpeg" width="50" class="mr-3 rounded">
                    Ann posted a new comment
                  </button>
                </div>
                <div class="collapse" id="collapseSix" data-parent="#accordion">
                  <div class="card-body">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis earum modi delectus fugiat consectetur eaque harum obcaecati, saepe id vitae, dolore aliquam! Quos, doloribus quisquam.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-5 mt-5">
            <div class="card rounded">
              <div class="card-body">
                <h5 class="text-muted text-center mb-4">Quick Status Post</h5>
                <ul class="list-inline text-center py-3">
                  <li class="list-inline-item mr-4">
                    <a href="#">
                      <i class="fas fa-pencil-alt text-success"></i>
                      <span class="h6 text-muted">Status</span>
                    </a>
                  </li>
                  <li class="list-inline-item mr-4">
                    <a href="#">
                      <i class="fas fa-camera text-info"></i>
                      <span class="h6 text-muted">Photo</span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="fas fa-map-marker-alt text-primary"></i>
                      <span class="h6 text-muted">Check-in</span>
                    </a>
                  </li>
                </ul>
                <form>
                  <div class="form-group">
                    <input type="text" class="form-control py-2 mb-3" placeholder="What's Your Status...">
                    <button type="button" class="btn btn-block text-uppercase font-weight-bold text-light bg-info py-2 mb-5">Submit Post</button>
                  </div>
                </form>
                <div class="row">
                  <div class="col-6">
                    <div class="card bg-light">
                      <i class="far fa-calendar-alt fa-8x text-warning d-block m-auto py-3"></i>
                      <div class="card-body">
                        <p class="card-text text-center font-weight-bold text-uppercase">Mon, may 26</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="card bg-light">
                      <i class="far fa-clock fa-8x text-danger d-block m-auto py-3"></i>
                      <div class="card-body">
                        <p class="card-text text-center font-weight-bold text-uppercase">3:50 am</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
