<h1 mat-dialog-title>Ticket for {{ticket.address}}</h1>
<div mat-dialog-content>
  <form #editForm="ngForm" id="editForm" (ngSubmit)="updateProject()">
    <h4>Address</h4>
      <input type="text"  name="address" class="form-control" [(ngModel)]="ticket.address">

      <div class="row">
        <div class="col-md-6">
      <h4>Job Type</h4>
      <select class="form-control" name="jobType" [(ngModel)]="ticket.jobType" >

        <option>Civil SDU</option>
          <option>Duct</option>
          <option>Walkout</option>
          <option>PullThrough</option>
          <option>General</option>


       </select>
       </div>
       <div class="col-md-6">
       <h4>Status</h4>
       <select class="form-control" name="status" [(ngModel)]="ticket.status" >

         <option>Assigned</option>
           <option>Pending</option>
           <option>Completed_not_Closed</option>
           <option>Completed_not_Invoiced</option>
           <option>Completed_and_Invoice_Updated</option>


        </select>
        </div>
        </div>

    <h4>Describtions</h4>
    <textarea name="description" rows="2" class="form-control"
      [(ngModel)]="ticket.describtion"></textarea>


      <h4>Remarks</h4>
    <textarea name="remarks" rows="2" class="form-control"
      [(ngModel)]="ticket.remarks"></textarea>

      <div class="row">
       <div class="col-md-6">

        <h4>Customer is <b>{{ticket.cus_name}}</b><span> <button type="button" class="btn btn-danger btn-sm ml-1" (click)="onsumbitCustomerEdit()" >Edit</button></span></h4>

        <select class="form-control" name="cus_id" [(ngModel)]="ticket.cus_id" >

          <option *ngFor="let itm of customers" [value]="itm.id">
            {{itm.cus_name}}
          </option>



         </select>
       </div>
       <div class="col-md-6">
        <h4>Client is <b>{{ticket.client_name}}</b><span> <button type="button" class="btn btn-danger btn-sm ml-1" (click)="onsumbitClientEdit()" >Edit</button></span></h4>
        <select class="form-control" name="client_id"  [(ngModel)]="ticket.client_id" >

          <option *ngFor="let itm of clients" [value]="itm.id">
            {{itm.client_name}}
          </option>

         </select>
       </div>
      </div>

      <h4>Add Employees <span> <button type="button" class="btn btn-success btn-sm ml-1" (click)="onsumbitEmplyeeAdd()" >Add</button></span></h4>
      <select class="form-control" rows="6" name="emp_names" multiple [(ngModel)]="ticket.emp_names" >
        <option *ngFor="let itm of employees" [value]="itm.id">
          {{itm.emp_name}} {{itm.lastname}}
        </option>
      </select>



      <div class="d-flex mt-3">

        <button type="button"[disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-sm ml-1" (click)="updateProject()">Save Changes</button>
        <button type="button" class="btn btn-danger btn-sm ml-1 mr-1">Delete</button>
        <button mat-button mat-dialog-close>Cancel</button>
     </div>


    </form>

</div>
