<div class="tab-panel">
  <tabset class="member-tabset">
    <tab heading="Ticket Details">

      <h1 mat-dialog-title>Ticket for {{ticket.address}}</h1>
      <div mat-dialog-content>
        <form #editForm="ngForm" id="editForm" (ngSubmit)="updateProject()">
          <h4>Address</h4>
            <input type="text"  name="address" class="form-control" [(ngModel)]="ticket.address">

            <div class="row">
              <div class="col-md-6">
            <h4>Job Type</h4>
            <select class="form-control" name="jobType" [(ngModel)]="ticket.jobType" >
              <option value="" selected disabled hidden>Job Type</option>
              <option *ngFor="let itm of jobtype" [value]="itm.jobType">
                {{itm.jobType}}
              </option>


             </select>
             </div>
             <div class="col-md-6">
             <h4>Status</h4>
             <select class="form-control" name="status" [(ngModel)]="ticket.status" >

               <option>Assigned</option>
                 <option>Pending</option>
                 <option>Completed_not_Closed</option>
                 <option>Completed_not_Invoiced</option>
                 <option>Completed_and_Invoice_Updated</option>


              </select>
              </div>
              </div>

          <h4>Describtions</h4>
          <textarea name="describtion" rows="1" class="form-control"
            [(ngModel)]="ticket.describtion"></textarea>


            <h4>Remarks</h4>
          <textarea name="remarks" rows="1" class="form-control"
            [(ngModel)]="ticket.remarks"></textarea>

            <div class="row">
             <div class="col-md-6">

              <h4 (click)="onsumbitCustomerEdit()">Customer is <b>{{ticket.cus_name}}</b></h4>

              <select class="form-control" name="cus_id" [(ngModel)]="ticket.cus_id" >

                <option *ngFor="let itm of customers" [value]="itm.id">
                  {{itm.cus_name}}
                </option>
               </select>
              </div>

             <div class="col-md-6">
              <h4 (click)="onsumbitClientEdit()">Client is <b>{{ticket.client_name}}</b></h4>
              <select class="form-control" name="client_id"  [(ngModel)]="ticket.client_id" >

                <option *ngFor="let itm of clients" [value]="itm.id">
                  {{itm.client_name}}
                </option>

               </select>

             </div>
            </div>

            <div class="row">
              <div class="col-md-6">
            <h4><b>Add Employees</b></h4>

            <mat-form-field appearance="fill">
              <mat-label>Employees</mat-label>
              <mat-select multiple name="emp_names" [(ngModel)]="childemployess">

                <mat-option *ngFor="let emp of employees" [value]="emp.id">{{emp.emp_name}}</mat-option>
              </mat-select>
            </mat-form-field>
                </div>
                <div class="col-md-6">
            <h4><b>Add Rates</b></h4>

            <mat-form-field appearance="fill">
              <mat-label>Rate</mat-label>
              <mat-select multiple name="rates" [(ngModel)]="listofrates">

                <mat-option *ngFor="let code of listofratesCode" [value]="code" >{{code.sor}}*{{code.qty}}</mat-option>
              </mat-select>
            </mat-form-field>
</div>
            </div>

            <div class="d-flex mt-3">

              <button type="button"[disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-sm ml-1" (click)="updateProject()">Save Changes</button>
              <button type="button" class="btn btn-danger btn-sm ml-1 mr-1">Delete</button>
              <button mat-button mat-dialog-close>Cancel</button>

           </div>


          </form>

      </div>

    </tab>

    <tab heading="Add Rates">
      <h1 mat-dialog-title>Ticket for {{ticket.address}} - Ticket Number is {{ticket.id}}</h1>

        <app-ratecard (valueChange)='displayfromchild($event)'></app-ratecard>


    </tab>

    <tab heading="Upload Pictures">
      <h1 mat-dialog-title>Ticket for {{ticket.address}} - Ticket Number is {{ticket.id}}</h1>
      <div class="container">
        <div class="card">
          <div class="card-header">
            Upload Pictures
          </div>
          <div class="card-body">
            <h5 class="card-title">Select a file for upload:</h5>
            <input type="file" (change)="upload($event)" multiple />
            <br><br>
            <div class="progress">
              <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
            <br>
            <div class="btn-group" role="group" *ngIf="uploadState | async; let state">
              <button type="button" class="btn btn-primary" (click)="task.pause()" [disabled]="state === 'paused'">Pause</button>
              <button type="button" class="btn btn-primary" (click)="task.cancel()" [disabled]="!(state === 'paused' || state ==='running')">Cancel</button>
              <button type="button" class="btn btn-primary" (click)="task.resume()" [disabled]="state === 'running'">Resume</button>
            </div>
            <br><br>
            <div *ngIf="downloadURL | async; let downloadSrc" class="alert alert-info" role="alert">
              File uploaded:
              <ng-container *ngFor="let item of downloadSrc">

                <a [href]="item">{{item}}</a>
              </ng-container>

            </div>
          </div>
        </div>
      </div>

    </tab>
  </tabset>
</div>









