
  <div class="col-md-3">

      <h3>Add Photos</h3>

      <div class="row">
        <div class="col s8 offset-2">

          <form #imageForm=ngForm (ngSubmit)="OnSubmit(Caption,Image)">
            <div class="row">
              <div class="input-field col s12">
                <input type="text" #Caption ngModel name="Caption" id="Caption" required>
                <label for="Caption">Caption</label>
              </div>
            </div>
            <img [src]="imageUrl"  style="width:250px;height:200px">
            <input type="file" #Image accept="image/*" (change)="handleFileInput($event.target.files)">
            <button type="submit" class="btn-large btn-submit" [disabled]="Image.value=='' || !imageForm.valid">Submit</button>
          </form>
        </div>
      </div>


</div>


<div class="container mt-4">

  <div class="d-flex">
    <ng-container *ngFor="let item of slidesStore">
    <div class="p-2">
      <div class="card mb-4">
        <div class="card-img-wrapper">
          <img class="card-img-top" src="{{item.url}}" alt="">
          <ul class="list-inline member-icons animate text-center">
            <li class="list-inline-item"><button class="btn btn-primary"
              ><i class="fa fa-user"></i></button></li>
            <li class="list-inline-item"><button class="btn btn-primary"><i class="fa fa-heart"></i></button></li>
            <li class="list-inline-item"><button class="btn btn-primary"><i class="fa fa-envelope"></i></button></li>
          </ul>
        </div>
        <div class="card-body p-1">
          <h6 class="card-title text-center mb-1"><i class="fa fa-user"></i>
             {{item.description}}
          </h6>
          <p class="card-text text-muted text-center">{{item.emp_id}}</p>
        </div>
      </div>

    </div>
  </ng-container>
  </div>










  </div>







