<div class="row">
  <div class="col-sm-2" *ngFor="let photo of photos">
    <img src="" class="img-thumbnail p-1" alt="">
    <div class="text-center">
      <button type="button" class="btn btn-sm mr-1"

        [ngClass]="photo.isMain ? 'btn-success active' : 'btn-secondary'"
        [disabled]="photo.isMain" >Main</button>
      <button type="button" class="btn btn-sm btn-danger"

        [disabled]="photo.isMain"><i class="fa fa-trash-o"></i>
    </button>
    </div>
  </div>
</div>



  <div class="col-md-3">

      <h3>Add Photos</h3>

      <div class="row">
        <div class="col s8 offset-2">

          <form #imageForm=ngForm (ngSubmit)="OnSubmit(Caption,Image)">
            <div class="row">
              <div class="input-field col s12">
                <input type="text" #Caption ngModel name="Caption" id="Caption" required>
                <label for="Caption">Caption</label>
              </div>
            </div>
            <img [src]="imageUrl"  style="width:250px;height:200px">
            <input type="file" #Image accept="image/*" (change)="handleFileInput($event.target.files)">
            <button type="submit" class="btn-large btn-submit" [disabled]="Image.value=='' || !imageForm.valid">Submit</button>
          </form>
        </div>
      </div>






  <div class="col-md-9" style="margin-bottom: 40px"  *ngIf="uploader?.queue?.length">

      <h3>Upload queue</h3>
      <p>Queue length: {{ uploader?.queue?.length }}</p>

      <table class="table">
          <thead>
          <tr>
              <th width="50%">Name</th>
              <th>Size</th>

          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of uploader.queue">
              <td><strong>{{ item?.file?.name }}</strong></td>
              <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>

          </tr>
          </tbody>
      </table>

      <div>





      </div>

  </div>



  <div class="container">

  </div>






</div>
