<section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-10 col-lg-7 col-md-6 ml-auto">
          <div class="row pt-md-5 mt-md-3 mb-5">

            <div class="col-xl-6">
              <h4 class="text-muted mb-4">Ticket</h4>

              <accordion [isAnimated]="true" *ngFor="let item of projects">
                <accordion-group heading = "{{item.address}}">

                  <div class="p-2">


                    <div class="ml-3 d-inline-block align-middle">

                          <span
                            class="text-muted font-weight-normal font-italic d-block">Status:{{ item.status}}
                           </span>
                           <span
                           class="text-muted font-weight-normal font-italic d-block">created_at:{{ item.created_at | date: 'dd/MM/yyyy'}}
                          </span>
                          <span
                          class="text-muted font-weight-normal font-italic d-block">Job Type:{{ item.jobType}}
                         </span>
                         <span
                         class="text-muted font-weight-normal font-italic d-block">Customer:{{ item.cus_name}}
                        </span>
                        <span
                        class="text-muted font-weight-normal font-italic d-block">Client:{{ item.client_name}}
                       </span>
                    </div>

                    <div class="d-flex flex-row-reverse">


                      <div class="btn-group btn-sm mr-auto p-2 mt-2" dropdown>
                        <button id="button-basic" dropdownToggle type="button" class="btn btn-danger dropdown-toggle"
                                aria-controls="dropdown-basic">
                          Ticket Status <span class="caret"></span>
                        </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                            role="menu" aria-labelledby="button-basic">
                          <li role="menuitem"><a class="dropdown-item" href="#">Assigned</a></li>
                          <li role="menuitem"><a class="dropdown-item" href="#">Pending</a></li>
                          <li role="menuitem"><a class="dropdown-item" href="#">Completed not Closed</a></li>
                          <li role="menuitem"><a class="dropdown-item" href="#">Completed not Invoiced</a></li>
                          <li role="menuitem"><a class="dropdown-item" href="#">Completed and Invoice Updated</a></li>
                          <li class="divider dropdown-divider"></li>
                          <li role="menuitem"><a class="dropdown-item" [routerLink]="['/projects/'+ item.id]">Edit</a>
                          <li role="menuitem" style="cursor: pointer;"><a class="dropdown-item" (click)="deleteProject(item.id)">Delete</a>
                          </li>
                        </ul>
                      </div>

                    </div>

                </div>

                </accordion-group>

              </accordion>
              <div class="d-flex justify-content-end mt-3">
                <button type="submit" class="btn btn-danger" [routerLink]="['/viewall']">Show All</button>
              </div>
            </div>

            <div class="col-xl-6 mt-5">


                <app-projects-add></app-projects-add>

            </div>
          </div>
        </div>
      </div>



    </div>
  </section>
