<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-10 col-lg-7 col-md-6 ml-auto">
        <div class="row pt-md-5 mt-md-3 mb-5">

          <div class="col-xl-6">
            <h4 class="text-muted mb-4">Employees</h4>
            <div id="accordion">
              <div class="card" *ngFor="let item of list">
                <div class="card-header">
                  <button class="btn btn-block bg-secondary text-light text-left" data-toggle="collapse" data-target="#collapseOne">
                    <img src="https://randomuser.me/api/portraits/men/91.jpg" width="50" class="mr-3 rounded">
                    {{item.fullName}} - {{item.mobile}}
                  </button>
                </div>
                <div class="collapse show" id="collapseOne" data-parent="#accordion">
                  <div class="card-body">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis earum modi delectus fugiat consectetur eaque harum obcaecati, saepe id vitae, dolore aliquam! Quos, doloribus quisquam.
                  </div>
                </div>
              </div>

            </div>
          </div>




                    <div class="col-xl-5 mt-5">

                      <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
                        <input type="hidden" name="id" #id="ngModel" [(ngModel)]="model.id">
                        <div class="form-group">
                          <input name="fullName" #fullName="ngModel" [(ngModel)]="model.fullName" class="form-control" placeholder="Full name" required>
                          <div *ngIf="fullName.invalid && fullName.touched" class="validation-error">This field is required.</div>
                        </div>
                        <div class="form-group">
                          <input name="position" #position="ngModel" [(ngModel)]="model.position" class="form-control" placeholder="Position">
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <input name="empCode" #empCode="ngModel" [(ngModel)]="model.empCode" class="form-control" placeholder="Emp. code">
                          </div>
                          <div class="form-group  col-md-6">
                            <input name="mobile" #mobile="ngModel" [(ngModel)]="model.mobile" class="form-control" placeholder="Mobile">
                          </div>
                        </div>
                        <div class="form-group">
                          <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block btn-info">SUBMIT</button>
                        </div>

                      </form>


</div>















        </div>
      </div>








    </div>



  </div>
</section>







