<form [formGroup]="taskForm" (ngSubmit)="submitTaskData()" novalidate>
  
    <div class="row">
      <div class="col-md-10 mb-3">
        <input type="text" formControlName="cus_name" class="form-control" placeholder="Customer Name" required>
  
    </div>
  
    </div>
  
  
      <div class="row">
          <div class="col-md-5 mb-3">
          
            <input type="text" formControlName="mobile" class="form-control" placeholder="Mobile" required>
      
        </div>
      
       
          <div class="col-md-5 mb-3">
          
            <input type="text" formControlName="emailadd" class="form-control" placeholder="email">
      
        </div>
        </div>

        
  
  
  
        <div class="row">
          <div class="col-md-10 mb-3">
            <textarea class="form-control" formControlName="description" id="exampleFormControlTextarea2" rows="3"></textarea>
      
        </div>
      
        </div>
    
      <div class="row">
        <div class="col-md-3 mb-3">
          <button type="submit" class="btn btn-success" [disabled]="!taskForm.valid">Add Customer</button>
    
      </div>
      <div class="col-md-2 mb-3">
    
        <button type="button" class="btn btn-secondary gap-right" (click)="ResetForm()">Reset</button>
      </div>
    
    
      </div>
    
    
    
    </form>
