<form [formGroup]="TasksForm" (ngSubmit)="submitEmployeeData()" novalidate>
  <div class="row">
    <div class="col-md-5 mb-3">
    <input type="text" formControlName="taskname" class="form-control" placeholder="Task Name" required>
    <!-- Showing errors using getter method -->
    <p *ngIf="taskname.touched && taskname.invalid" class="error"><sup>*</sup>Please enter atleast first name</p>
    <p *ngIf="taskname.errors?.minlength" class="error"><sup>*</sup>Name shouldn't be less than 2 words</p>

  </div>
  <div class="col-md-5 mb-3">
    <input type="text" formControlName="category" class="form-control" placeholder="Category">
  </div>


  </div>

  <div class="row">
    <div class="col-md-5 mb-3">
      <input type="describtion" formControlName="describtion" class="form-control"  placeholder="Describtion" required>
      <!-- Showing errors using getter method -->


  </div>
  <div class="col-md-5 mb-3">
    <input type="text" formControlName="status" class="form-control" placeholder="Mobile"  required>
    <!-- Showing errors using getter method -->
    <p *ngIf="status.touched && status.invalid" class="error"><sup>*</sup>Please provide contact
      number</p>
    <p *ngIf="status.errors?.pattern" class="error"><sup>*</sup>Use numbers only
      number</p>
  </div>


  </div>


  <div class="row">
    <div class="col-md-10 mb-3">
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

  </div>

  </div>


  <div class="row">
    <div class="col-md-3 mb-3">
      <button type="submit" class="btn btn-success" [disabled]="!TasksForm.valid">Add Employee</button>

  </div>
  <div class="col-md-2 mb-3">

    <button type="button" class="btn btn-secondary gap-right" (click)="ResetForm()">Reset</button>
  </div>


  </div>



</form>
