
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-10 col-lg-7 col-md-6 ml-auto">
        <div class="row pt-md-5 mt-md-3 mb-5">

          <div class="col-xl-12">
            <h4 class="text-muted mb-4">Project Edit</h4>
              <div class="row">
                <div class="col-sm-12">
                  <div class="col-sm-8">
                    <div *ngIf="editForm.dirty" class="alert alert-info">
                      <strong>Information:</strong> You have made changes.  Any unsaved changes will be lost!
                    </div>
                  </div>

                  <div class="col-sm-8">
                    <div class="tab-panel">
                      <tabset class="member-tabset">
                        <tab heading="Edit Project">
                          <form #editForm="ngForm" id="editForm" (ngSubmit)="updateProject()">
                            <h4>Address</h4>
                              <input type="text"  name="address" class="form-control" [(ngModel)]="ticket.address">

                              <h4>Job Type</h4>
                              <select class="form-control" name="jobType" [(ngModel)]="ticket.jobType" >

                                <option>Civil SDU</option>
                                  <option>Duct</option>
                                  <option>Walkout</option>
                                  <option>PullThrough</option>
                                  <option>General</option>


                               </select>

                            <h4>Describtions</h4>
                            <textarea name="description" rows="3" class="form-control"
                              [(ngModel)]="ticket.describtion"></textarea>


                              <h4>Remarks</h4>
                            <textarea name="remarks" rows="3" class="form-control"
                              [(ngModel)]="ticket.remarks"></textarea>

                              <div class="row">
                               <div class="col-md-6">

                                <h4>Customer is <b>{{ticket.cus_name}}</b><span> <button type="button" class="btn btn-danger btn-sm ml-1" (click)="onsumbitCustomerEdit()" >Edit</button></span></h4>

                                <select class="form-control" name="cus_id" [(ngModel)]="ticket.cus_id" >

                                  <option *ngFor="let itm of customers" [value]="itm.id">
                                    {{itm.cus_name}}
                                  </option>



                                 </select>
                               </div>
                               <div class="col-md-6">
                                <h4>Client is <b>{{ticket.client_name}}</b><span> <button type="button" class="btn btn-danger btn-sm ml-1" (click)="onsumbitClientEdit()" >Edit</button></span></h4>
                                <select class="form-control" name="client_id"  [(ngModel)]="ticket.client_id" >

                                  <option *ngFor="let itm of clients" [value]="itm.id">
                                    {{itm.client_name}}
                                  </option>

                                 </select>
                               </div>
                              </div>

                              <h4>Add Employees <span> <button type="button" class="btn btn-success btn-sm ml-1" (click)="onsumbitEmplyeeAdd()" >Add</button></span></h4>
                              <select class="form-control" rows="6" name="emp_names" multiple [(ngModel)]="ticket.emp_names" >
                                <option *ngFor="let itm of employees" [value]="itm.id">
                                  {{itm.emp_name}} {{itm.lastname}}
                                </option>
                              </select>

                              <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-block mt-2">Save Changes</button>
                          </form>


                        </tab>
                        <tab heading="Project Documents">



                        </tab>
                      </tabset>
                    </div>
                  </div>





                </div>






              </div>








            </div>










        </div>
      </div>
    </div>

  </div>
</section>







