
  <div class="tab-panel mt-5">
    <tabset class="member-tabset">
      <tab heading="Punch IN">
        <form [formGroup]="myForm">
          <br>
          <h5>{{employee.lastname}}</h5>

          <div class="row justify-content-left align-items-center">
            <br><br>
            <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group">
              <input type="text"
              class="form-control mb-3"
              placeholder="Datepicker"
              [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }"
              bsDatepicker
              formControlName="punchIn"

              />
              <pre *ngIf="myForm.value.date" class="code-preview">{{myForm.value.date | date}}</pre>
            </div>



            <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group">
              <timepicker [formControlName]="'punchtime'"></timepicker>
            </div>



          <div class="row">
            <div class="col-md-3 mb-3">
              <input type="hidden" formControlName="emp_id" [(ngModel)]="employee.id">

          </div>
        </div>


          <div class="row">
            <div class="col-md-3 mb-3">
              <button type="submit" class="punchInButton" [disabled]="!myForm.valid" (click)="onSubmit()">Punch In</button>

          </div>
        </div>


        <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group">
          <input type="hidden" class="form-control mb-3" placeholder="Datepicker" [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD h:mm:ss' }" bsDatepicker formControlName="punchOut" />
          <pre *ngIf="myForm.value.date" class="code-preview">{{myForm.value.date | date}}</pre>
        </div>
    </div>
        </form>

      </tab>

      <tab heading="Punch OUT">







        <form [formGroup]="myForm2">
          <br>
          <h5>{{employee.lastname}} Puch Out Sheet</h5>

          <div class="row justify-content-left align-items-center" *ngIf="api.showPuchOutContent$">
            <br><br>
            <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group">
              <input type="text"
              class="form-control mb-3"
              placeholder="Datepicker"
              [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD' }"
              bsDatepicker
              formControlName="punchOut"

              />
              <pre *ngIf="myForm2.value.date" class="code-preview">{{myForm2.value.date | date}}</pre>
            </div>



            <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group">
              <timepicker [formControlName]="'punchtime'"></timepicker>
            </div>



          <div class="row">
            <div class="col-md-3 mb-3">
              <input type="hidden" formControlName="emp_id" [(ngModel)]="employee.id">

          </div>
        </div>


          <div class="row">
            <div class="col-md-3 mb-3">
              <button type="submit" class="punchOutButton" [disabled]="!myForm2.valid" (click)="onSubmitPunchOut()">Punch Out</button>

          </div>
        </div>


    </div>
        </form>








      </tab>
    </tabset>
  </div>









