<form [formGroup]="employeeForm" (ngSubmit)="submitEmployeeData()" novalidate>
  <div class="row">
    <div class="col-md-5 mb-3">
    <input type="text" formControlName="emp_name" class="form-control" placeholder="Employee Name" required>



  </div>
  <div class="col-md-5 mb-3">
    <input type="text" formControlName="lastname" class="form-control" placeholder="Last Name">
  </div>


  </div>

  <div class="row">
    <div class="col-md-5 mb-3">
      <input type="email" formControlName="emailadd" class="form-control"  placeholder="Email" required>



  </div>
  <div class="col-md-5 mb-3">
    <input type="text" formControlName="mobile" class="form-control" placeholder="Mobile"  required>


  </div>


  </div>

  <div class="row">
    <div class="col-md-5 mb-3">
      <input type="text" formControlName="position" class="form-control" placeholder="Position" required>

  </div>

  </div>

  <div class="row">
    <div class="col-md-10 mb-3">
      <textarea class="form-control" formControlName="description" id="exampleFormControlTextarea1" rows="3"></textarea>

  </div>

  </div>


  <div class="row">
    <div class="col-md-3 mb-3">
      <button type="submit" class="btn btn-success" [disabled]="!employeeForm.valid">Add Employee</button>

  </div>
  <div class="col-md-2 mb-3">

    <button type="button" class="btn btn-secondary gap-right" (click)="ResetForm()">Reset</button>
  </div>


  </div>



</form>
