<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
        <div class="row pt-md-5 mt-md-3 mb-5">
          <div class="col-xl-3 col-sm-6 p-2" *ngFor="let item of mydata">
            <div class="card card-common">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <ng-container *ngIf="item.name==='tickets'">
                  <i [ngClass]="{'fas fa-shopping-cart fa-3x text-warning':item.name==='tickets'}"> </i>
                </ng-container>
                <ng-container *ngIf="item.name==='employees'">
                  <i [ngClass]="{'fas fa-shopping-cart fa-3x text-warning':item.name==='employees'}"> </i>
                </ng-container>
                <ng-container *ngIf="item.name==='customers'">
                  <i [ngClass]="{'fas fa-shopping-cart fa-3x text-warning':item.name==='customers'}"> </i>
                </ng-container>
                <ng-container *ngIf="item.name==='clients'">
                  <i [ngClass]="{'fas fa-shopping-cart fa-3x text-warning':item.name==='clients'}"> </i>
                </ng-container>
                  <div class="text-right text-secondary">
                    <h5>{{item.name}}</h5>
                    <h3>{{item.value}}</h3>
                  </div>
                </div>
              </div>
              <div class="card-footer text-secondary">
                <i class="fas fa-sync mr-3"></i>
                <span>Updated Now</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
